<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:loxia="http://loxia.benjamin.cn/schema/core"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
				        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
	 
<!-- 	 <lang:groovy id="roleRule" refresh-check-delay="2000" script-source="classpath:groovyScripts/RoleRuleTemplet.groovy"> -->
<!-- 	 <lang:groovy id="roleRule" refresh-check-delay="2000" script-source="classpath:yuan/yuan/boot_tools/groovy/script/RuleRoleTemplet.groovy"> -->
	 <lang:groovy id="roleRule" refresh-check-delay="2000" script-source="file:C:/Users/yuan.yuan1/Desktop/RuleRoleTemplet.groovy">
        <!-- <lang:property name="message" value="I Can Do The Frug" /> -->
     </lang:groovy>
     
     <lang:groovy id="taskRule" refresh-check-delay="2000" script-source="classpath:yuan/yuan/boot_tools/groovy/script/RuleTaskTemplet.groovy">
        <!-- <lang:property name="message" value="I Can Do The Frug" /> -->
     </lang:groovy>
     
     
</beans>

 